body {
  background: url('../images/texture.png') repeat;
  text-align: center;
  color: #4c4c4c;
  font-family: "Century Gothic", helvetica, arial, sans-serif;
}

ul {
  margin: 0 auto;
  padding: 0;
  width: 550px;
  list-style: none;
  text-align: left;
}

li {
  margin: 0 0 30px;
  padding: 0;
}

label {
  display: block;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  letter-spacing: 1px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  font-size: 40px;
  width: 550px;
  border: 5px solid rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-color: rgba(0,0,0,0.4);
}

input[type="submit"] {
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  padding: 0;
  width: 550px;
  background-color: #e8e7e7;
  font-weight: bold;
  text-align: center;
  text-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.75);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #2e8cf0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


input[type="submit"] {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  padding: .5em 2em .55em;
  color: #d9eef7;
  border: solid 1px #0076a3;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

input[type="submit"]:hover {
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
input[type="submit"]:active {
  color: #80bed6;
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
  background: -moz-linear-gradient(top,  #0078a5,  #00adee);
  position: relative;
  top: 1px;
}